# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.haffmanCode.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gizon\IdeaProjects\haffmanCode\.idea\.idea.haffmanCode.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
